
body{
	/*background: #151515;*/
	background: #e8e5e5;
	color: white;
}

/*==CUSTOM SCROLLBAR==*/
body::-webkit-scrollbar {
    width: 15px;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
body::-webkit-scrollbar-thumb {
  	background: #3b3d3d;
  	outline: 5px solid red;
}
body::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
/*====*/
#bg{
	background: url(../img/bg.jpg) no-repeat center bottom;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: table;
	position: absolute;
	text-align: center;
}



#me-content{
	background: rgba(242, 242, 242, 0.15);
	border-radius: 4px;
	display: block;
	margin: 5px auto 50px auto;
	padding: 50px;
	width: 45%;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);


}

img {
	display: block;
	border-radius: 50%;
	/*border: 1px solid #fff ;*/
	width: 150px;
	margin: 50px auto -75px auto;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .8);

}

h1 {
	font-family: 'Dosis', sans-serif;
	font-weight: 300;
	margin-top: 1em;
	margin-bottom: 0.1em;

}
span {
	padding: 0;
	font-family: 'Dosis', sans-serif;
	font-weight: 300;
	margin-bottom: 1.2em;
}

p {

	font-family: 'Dosis', sans-serif;
	font-size: 18px;
	line-height: 1.6;
}


/*==LINKS==*/

.social {
	display: block;
	position: absolute;
	width: 100%;
	left: 0;
	font-size: 25px;
	margin: 0;
	padding: 0;
}
.social li {
	display: inline-block;
	margin: 0 10px;
	padding: 0;
}
.social li a, .intro-social li a:visited {
	color: #FFFFFF;
}
.social li a:hover, .intro-social li a:focus {
	color: #02f7f7;
}

/*adjust responsiveness on media devices*/
@media only screen and (max-width:600px){
	#me-content{
		padding-right: 5px;
		padding-left: 5px;
		width: 90%;
	}

	h1{
		font-size: 1.4em;
	}

}